@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-y: hidden;
}

#headImage {
  position: relative;
  background-image: url(images/i2.JPG);
  filter: saturate(1.4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.sticky {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}

div .WhatsApp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1bd741;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 18px;
  font-weight: bold;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  text-decoration: none;
}

div .WhatsApp img {
  height: 35px;
  width: 35px;
}

.btn-test {
  position: absolute;
  padding: 3px 6px;
  line-height: 1;
  color: orange;
  background-color: rgba(100, 255, 100, 0);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
  user-select: none;
}

.btn-test:hover {
  color: white;
  background: orange;
  opacity: 0.7;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideImages {
  background-color: lightsteelblue;
  border-radius: 10px;
  max-width: 12%;
  height: auto;
  margin: 0 40px;
  transition: transform 0.5s ease-in-out;
}

.centerImage {
  background-color: lightsteelblue;
  border-radius: 10px;
  width: 30%;
  height: 40%;
}

.arrow {
  position: absolute;
  font-size: 3rem;
  color: white;
  user-select: none;
}

.arrow:hover {
  cursor: pointer;
  color: orange;
}

.left-arrow {
  left: 5%;
}

.right-arrow {
  right: 5%;
}

.btn1 {
  top: 42%;
  left: 24%;
  transform: translate(-50%, -50%);
}

.btn2 {
  top: 45%;
  left: 23%;
  transform: translate(-50%, -50%);
}

.btn3 {
  top: 51%;
  left: 34%;
  transform: translate(-50%, -50%);
}

.btn4 {
  top: 51%;
  left: 36%;
  transform: translate(-50%, -50%);
}

.btn5 {
  top: 59%;
  left: 46%;
  transform: translate(-50%, -50%);
}

.btn6 {
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn7 {
  top: 76%;
  left: 36%;
  transform: translate(-50%, -50%);
}

.btn8 {
  top: 78%;
  left: 39%;
  transform: translate(-50%, -50%);
}

.btn9 {
  top: 85%;
  left: 37%;
  transform: translate(-50%, -50%);
}

.btn10 {
  top: 63%;
  left: 71%;
  transform: translate(-50%, -50%);
}

.btn11 {
  top: 61%;
  left: 73%;
  transform: translate(-50%, -50%);
}

.btn12 {
  top: 64%;
  left: 78%;
  transform: translate(-50%, -50%);
}

.btn13 {
  top: 72%;
  left: 85%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px) {
  body {
    overscroll-behavior: contain;
    overflow-x: scroll;
  }

  #headImage {
    width: 220vw;
    height: 100vh;
  }
}

@media screen and (max-width: 450px) {
  .btn1 {
    top: 44%;
    left: 24%;
  }

  .btn2 {
    top: 47%;
    left: 22%;
  }

  .btn3 {
    top: 51%;
    left: 33%;
  }

  .btn4 {
    top: 51%;
    left: 37%;
  }

  .btn5 {
    top: 57%;
    left: 45%;
  }

  .btn6 {
    top: 57%;
    left: 49%;
  }

  .btn7 {
    top: 72%;
    left: 35%;
  }

  .btn8 {
    top: 73%;
    left: 38%;
  }

  .btn9 {
    top: 79%;
    left: 35%;
  }

  .btn10 {
    top: 59%;
    left: 69%;
  }

  .btn11 {
    top: 59%;
    left: 72%;
  }

  .btn12 {
    top: 59%;
    left: 78%;
  }

  .btn13 {
    top: 64%;
    left: 83%;
  }
}
